@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Poppins", Helvetica, sans-serif;
}
.dropdown-menu .dropdown-item:hover{
    color: brown;
}
.titulo-img img:hover{
    filter: grayscale(40%) contrast(90%);
    transition: 1s ease;
}
.vineta {
    list-style-type: none; 
    padding-left: 20px; 
}

.vineta li::before {
    content: ""; 
    display: inline-block; 
    width: 40px; 
    height: 16px; 
    background-image: url('http://3.bp.blogspot.com/-F6v3nnYv6RI/UtLBOOWBQnI/AAAAAAAAN7o/FFtSwpeb6aU/s1600/avion-volando-dibujo.png'); 
    background-size: cover; 
    margin-right: 10px; 
    vertical-align: middle; 
}
.imagen-container {
  position: relative;
  display: inline-block;
  margin: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.imagen-container:hover .overlay {
  opacity: 1;
}

.overlay-texto {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

/* el footer */
  #pie {
    background-color: #343a40;
  }

 
  #pie p {
    margin: 0; 
  }


  .iconos {
    background-color: #343a40;
    text-decoration: none;
  }

  .iconos .d-flex {
    justify-content: center; 
  }

  .iconos a {
    color: #343a40; 
    background-color: white;
    margin: 0 10px; 
    font-size: 24px;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    text-decoration: none; 
  }
.iconos a:hover { 
  text-decoration: none; 
} 
 
.iconos a:hover i { 
  color: #343a40; 
} 